/* responsive styles */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  .logo {
    text-align: center;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
  }
  .features-section {
    padding: 0 5px;
    flex-direction: column;
    gap: 25px;
  }
  .features-img-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
    width: 100%;
  }
  .features-content {
    display: flex;
    flex-direction: column;
  }
}
