/* font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --dark01: #131313;
  --dark02: #424242;
  --dark03: #727272;
  --orange: #ff900e;
  --hotpink: #fff4e7;
}

/* ----[ Common Style ]------- */
.section-container {
  padding: 0 120px;
  margin-top: 100px;
}

.title--primary {
  font-size: 38px;
  font-weight: 700;
  color: var(--dark01);
}

.desc--primary {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--dark03);
  margin: 12px auto;
}

/* ----[ Common Button Style ]------- */
.primary-btn {
  background: var(--orange);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 16px 26px;
}

/* ==================================================================== */

/* -----[ Header Section ]--------  */
header {
  background: rgba(255, 144, 14, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 16px;
  color: var(--dark02);
}

nav a {
  text-decoration: none;
}

.banner-container {
  text-align: center;
  padding-top: 80px;
}

.banner-img {
  margin-top: 30px;
}

.banner-container img {
  width: 100%;
}

/* -----[ Quick List Section ]--------  */
.quick-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.quick-list-img img {
  width: 100%;
}

/* -----[ Features Section ]--------  */
.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.features-content {
  margin-top: -100px;
}

.features-title {
  border-left: 5px solid var(--orange);
  padding-left: 20px;
}

.features-img img {
  width: 100%;
}

.card-container {
  padding-top: 10px;
}

.card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

  height: 100px;
  min-width: 500px;
  padding: 20px;
  margin-bottom: 15px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: gray;
}

.card-desc {
  font-size: 15px;
  font-weight: 400;
  color: var(--dark03);
  margin: 8px auto;
}

.tag-label {
  background-color: var(--orange);
  color: #fff;
  display: inline-block;
  padding: 30px 40px;
  text-align: center;
  border-radius: 8px;

  position: relative;
  bottom: 90px;
  right: 40px;
}

.label-title {
  font-size: 45px;
  font-weight: 700;
}

.label-desc {
  font-size: 20px;
}

/* -----[ Some Facts Section ]--------  */
.facts-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 50px;
  margin-top: 40px;
}

.facts-item {
  border: 1px solid var(--orange);
  border-radius: 8px;
  text-align: center;
  padding: 20px;

  width: 200.831px;
  height: 200.831px;
}

/* -----[ Our Sponsors Section ]--------  */
.our-sponsors h2,
.our-sponsors p {
  text-align: center;
}

.sponsors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 50px auto;
}

.sponsor-item img {
  filter: grayscale(1);
  /* width: 100%; */
}

/* -----[ Footer Section ]--------  */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--hotpink);
  max-width: 1000px;
  margin: 50px auto;
  padding: 23px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}

/* --- { Responsive for Small Device  } */
@media screen and (max-width: 576px) {
  .facts-container {
    flex-direction: column;
    align-items: center;
  }
  .some-facts {
    padding: 20px;
    text-align: center;
  }

  .quick-list-img {
    grid-template-columns: repeat(1, 1fr);
  }
  quick-list-img img {
    width: 100%;
  }
  .quick-list-container {
    flex-direction: column;
  }
  .section-container {
    padding: 10px 20px;
  }

  nav {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  nav > ul {
    flex-direction: column;
    gap: 15px;
  }
  .sponsors-container {
    flex-direction: column;
    gap: 32px;
  }

  .features-container {
    flex-direction: column;
    padding: 20px;
  }
  .features-content {
    text-align: center;
  }
  .card {
  }
}

/* --- { Responsive for Medium Device  } */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .facts-container {
    flex-wrap: wrap;
    align-items: center;
  }
  .some-facts {
    padding: 20px;
    text-align: center;
  }
  .section-container {
    padding: 10px 20px;
  }
  .quick-list-img {
    grid-template-columns: repeat(2, 1fr);
  }
  .quick-list-container {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }

  .sponsors-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor-item {
    justify-self: center;
  }
}
