@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

:root {
  --dark1: #131313;
  --dark3: #727272;
  --dark2: #424242;
  --primary-color: #ff900e;
}

/* Primary Button */
.primary-btn {
  background: var(--primary-color);
  color: #ffffff;
  padding: 14px 16px;
  border-radius: 6px;
  border: none;
  font-size: 0.8125rem;
  font-weight: 600;
  cursor: pointer;
}

/* banner section */
.header-container {
  background: rgba(255, 144, 14, 0.1);
}

/* navigation area */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  font-size: 2.375rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  gap: 20px;
  color: var(--dark2);
}
nav a {
  text-decoration: none;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  text-align: center;

  max-width: 1140px;
  margin: 0 auto;
}

.hero-content {
  max-width: 862px;
  margin: 0 auto;
}

.hero-title {
  font-size: 2.8125rem;
  font-weight: 700;
  color: var(--dark1);
}

.hero-desc {
  color: var(--dark3);
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  margin: 20px auto;
}

.hero-img img {
  width: 100%;
  margin-top: 24px;
}

/* features section */
.features-section {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1100px;
  margin: 50px auto;
}
.features-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.featues-img img {
  width: 100%;
}

.features-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
}

.features-title {
  font-size: 1.875rem;
}

.features-desc {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400px;
  color: var(--dark3);
  margin: 20px auto;
}

.text-hilight1 {
  font-weight: 500;
  color: var(--dark3);
}
.text-hilight2 {
  font-weight: bold;
  color: var(--dark1);
}
.text-hilight3 {
  font-weight: bold;
  color: var(--primary-color);
}
